html {
  font-size: 14px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;

  background-color: hsl(30, 38%, 92%);
}

.container {
  width: 40%;

  display: flex;
  flex-direction: row;

  border: none;
  border-radius: 1.5%;
  overflow: hidden;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
}

.review {
  width: 50%;
  position: relative;

  padding: 2rem 2rem;
  box-sizing: content-box;

  background-color: white;

  display: flex;
  flex-direction: column;
}

.review h2 {
  margin: 0.1rem 0;
  font-family: "Fraunces", serif;
  font-size: 3.5rem;
  font-weight: bolder;
}

p.text {
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: hsl(228, 12%, 48%);

  padding: 0.2rem 0;
}
p.mrp {
  position: relative;
}
p span.cost {
  padding-right: 1rem;
  color: #14746f;
  font-size: 4rem;
  font-family: "Fraunces", serif;
}

p span.strike {
  color: hsl(228, 12%, 48%);

  font-size: 1.7rem;
  text-decoration: line-through;
  text-underline-offset: 5px;

  position: absolute;
  bottom: 35%;
  right: 25%;
}

p.perfume {
  letter-spacing: 7px;
  font-size: 1.3rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 0;
}

.review .cart {
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;

  border-radius: 0.5rem;
  border: none;
  padding: 1.2rem 0;

  position: absolute;
  left: 10%;
  bottom: 5%;

  color: white;
  background-color: #14746f;
}

.cart img {
  width: 1.4rem;
  padding-right: 1.2rem;
}
